:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}


/* Base reset */

* {
    margin: 0;
    padding: 0;
}


/* box-sizing and font sizing */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 85%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#welcome-section {
    padding-top: 20px;
    background-color: blue;
    display: block;
    text-align: center;
    /* position: absolute; */
    top: 50%;
}

.section {
    height: 100vh;
    width: 100%;
    margin: auto;
    /* padding: 10px; */
}

.innerelement {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    border: 3px solid green;
}