:root {
    background: #ff0000;
}


/* Universal CSS Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* margin: 0 auto; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

li a:hover:not(.active) {
    background-color: #111;
}


/* 
.active {
    background-color: #4CAF50;
} */

.section {
    height: 100vh;
    position: relative;
    width: 100%;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.projects-section {
    background-color: green;
    text-align: center;
    /* padding: 10rem 2rem; */
    /* background: var(--main-blue); */
}

.projects-grid {
    display: grid;
    /* grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr; */
    /* grid-gap: 10px;
    height: 720px; */
}